---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import { withBase } from "../utils/helpers";
import heroImage from "../assets/images/pixeltrue-space-discovery.svg";
import SpaceKeyboard from "../components/SpaceKeyboard.astro";
import siteConfig from "../site.config";
---

<MainLayout
  activePage="404"
  pageTitle={siteConfig.title + " | 404"}
>
  <div class="flex flex-col items-center justify-center page-content">
    <h1>404</h1>
    <p class="mt-4 text-center max-w-md">
      The page you're looking for doesn't exist.
      <br /></p>
      
   
      <a
        class="font-medium underline"
        href={withBase("/")}>Go Back Home</a
      >
    
    <SpaceKeyboard />
  </div>
</MainLayout>
