---
import siteConfig from "../site.config";
import SiteIdentity from "./SiteIdentity.astro";
const currentYear = new Date().getFullYear();
---

<footer class="kanit-light text-xs sm:text-sm">
  <div class="footer-secondary flex flex-col sm:flex-row items-center justify-center gap-6 py-6">
    
  </div>
  <div
    class="footer-identity h-40 sm:h-18 text-center overflow-clip sticky bottom-0 items-end"
  >
    <span
      class="caveat-brush-regular text-8xl sm:text-[6.5rem] leading-none text-border text-whitesmoke/50 dark:text-gray-300/30"
      style="font-size: 3rem; ">Made by RAIDL</span
    >
  </div>
</footer>
